PRICE_1=99
PRICE_3=321
PRICE_6=674
PRICE_12=123123
STARS_PRICE_1=99
STARS_PRICE_3=321
STARS_PRICE_6=674
STARS_PRICE_12=123123

TELEGRAM_TOKEN=token

REFERRAL_DAYS=7

MINI_APP_URL=

#Dont change if you dont know what you are doing
DATABASE_URL=postgres://postgres:postgres@db:5432/postgres?sslmode=disable

#Dont change if you dont know what you are doing
POSTGRES_USER=postgres
#Dont change if you dont know what you are doing
POSTGRES_PASSWORD=postgres
#Dont change if you dont know what you are doing
POSTGRES_DB=postgres


REMNAWAVE_URL=https://example.com
REMNAWAVE_MODE=remote
REMNAWAVE_TOKEN=token

CRYPTO_PAY_ENABLED=true
CRYPTO_PAY_TOKEN=token
CRYPTO_PAY_URL=https://pay.crypt.bot

YOOKASA_ENABLED=true
YOOKASA_SECRET_KEY=key
YOOKASA_SHOP_ID=id
YOOKASA_URL=https://api.yookassa.ru/v3
YOOKASA_EMAIL=exmaple@mail.com
YOOKASA_WEBHOOK_URL=/webhook/yookassa/REPLACE_WITH_RANDOM_SECRET

PLATEGA_ENABLED=false
PLATEGA_MERCHANT_ID=
PLATEGA_SECRET=
PLATEGA_WEBHOOK_URL=/webhook/platega/REPLACE_WITH_RANDOM_SECRET
PLATEGA_SBP_ENABLED=false
PLATEGA_CARDS_ENABLED=false
PLATEGA_ACQUIRING_ENABLED=false
PLATEGA_WORLDWIDE_ENABLED=false
PLATEGA_CRYPTO_ENABLED=false

MOYNALOG_ENABLED=false
MOYNALOG_USERNAME=
MOYNALOG_PASSWORD=
MOYNALOG_URL=https://lknpd.nalog.ru/api/v1

TRAFFIC_LIMIT=100

TELEGRAM_STARS_ENABLED=true

REQUIRE_PAID_PURCHASE_FOR_STARS=false

TRIAL_TRAFFIC_LIMIT=20
TRIAL_DAYS=2
TRIAL_INTERNAL_SQUADS=
TRIAL_EXTERNAL_SQUAD_UUID=

ADMIN_TELEGRAM_ID=123123123

BLOCKED_TELEGRAM_IDS=

WHITELISTED_TELEGRAM_IDS=

SERVER_STATUS_URL="https://example.com/status"
SUPPORT_URL="https://example.com/support"
FEEDBACK_URL="https://example.com/feedback"
CHANNEL_URL="https://t.me/examplechannel"
TOS_URL="https://t.me/examplechannel"

SQUAD_UUIDS=

EXTERNAL_SQUAD_UUID=

DAYS_IN_MONTH=30

REMNAWAVE_TAG=TEST_PUPA

TRIAL_REMNAWAVE_TAG=

REMNAWAVE_HEADERS=

TELEGRAM_PROXY_URL=

MOYNALOG_PROXY_URL=
